name: 'Upload Code Coverage'
description: 'Send coverage files to codecov'
inputs:
  CODECOV_TOKEN:
    description: 'CODECOV_TOKEN'
    required: true

runs:
  using: "composite"
  steps:
    - shell: bash
      run: pwd

    - shell: bash
      run: ls

#    - shell: bash
#      run: ls ./modules/aws/artifacts/coverage

#    - name: Upload acute-common to Codecov
#      uses: codecov/codecov-action@v3
#      env:
#        CODECOV_TOKEN: ${{ inputs.CODECOV_TOKEN }}
#      with:
#        files: ./modules/acute-common/artifacts/coverage/coverage-final.json
